.outerContainer{
    display:flex;
    flex-direction:column;
    height:80vh;
    justify-content:center;
    align-items:center;
}
.formContainer{
    width:30%;
    box-shadow:0 4px 8px rgb(0, 0,0,0.3);
    background-color: transparent;
    padding:20px;
    font-weight:bold;
    display:flex;
    flex-direction:column;
    row-gap:10px;
    align-items:center;
}
.formContainer>input{
    width:80%;
    padding:10px;
    border:none;
    border-radius:8px;
    color:gray;
    box-shadow:0 4px 8px rgba(2, 200, 250, 0.3);
}
.formContainer>input:focus{
    border:1px solid skyblue;
}
.switchdiv{
    margin-top:15px;
    font-weight:bold;
}
.btn{
    background-color:#31e4e49d;
    color:white;
    border:none;
    border-radius:8px;
    padding:10px 15px;
    cursor:pointer;
    font-weight:bold;
    margin:10px 0px;
}
.btn:hover{
    background-color:rgb(8, 239, 255);
}
/* For tablets and smaller devices (max-width: 768px) */
@media (max-width: 768px) {
    .outerContainer {
      height: auto;
      padding: 20px;
    }
  
    .formContainer {
      width: 80%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      padding: 15px;
    }
  
    .formContainer > input {
      width: 90%;
      padding: 12px;
      font-size: 14px;
    }
  
    .btn {
      width: 90%;
      padding: 12px;
      font-size: 14px;
    }
  
    .switchdiv {
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
    }
  
    .switchdiv a {
      color: #31e4e4;
    }
  
    .formContainer > input:focus {
      border: 1px solid skyblue;
    }
  }
  @media (max-width: 480px) {
    .outerContainer {
      height: auto;
      padding: 15px;
    }
  
    .formContainer {
      width: 100%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      padding: 12px;
    }
  
    .formContainer > input {
      width: 100%;
      padding: 10px;
      font-size: 13px;
    }
  
    .btn {
      width: 100%;
      padding: 10px;
      font-size: 13px;
    }
  
    .switchdiv {
      font-size: 13px;
      text-align: center;
      margin-top: 10px;
    }
  
    .switchdiv a {
      color: #31e4e4;
    }
  
    .formContainer > input:focus {
      border: 1px solid skyblue;
    }
  }
  