.outerContainer{
    display:flex;
    flex-direction:column;
    height:80vh;
    justify-content:center;
    align-items:center;
}
.formContainer{
    width:30%;
    box-shadow:0 4px 8px rgb(0, 0,0,0.3);
    background-color: transparent;
    padding:20px;
    font-weight:bold;
    display:flex;
    flex-direction:column;
    row-gap:10px;
    align-items:center;
}
.formContainer>input{
    width:80%;
    padding:10px;
    border:none;
    border-radius:8px;
    color:gray;
    box-shadow:0 4px 8px rgba(2, 200, 250, 0.3);
}
.formContainer>input:focus{
    border:1px solid skyblue;
}
.btn{
    background-color:#31e4e49d;
    color:white;
    border:none;
    border-radius:8px;
    padding:10px 15px;
    cursor:pointer;
    font-weight:bold;
    margin:10px 0px;
}
.btn:hover{
    background-color:rgb(8, 239, 255);
}
@media (max-width: 768px) {
    .outerContainer {
      height: auto;
      padding: 20px;
    }
  
    .formContainer {
      width: 80%;
      padding: 20px;
      box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
    }
  
    .formContainer > input {
      width: 100%;
      padding: 12px;
      font-size: 16px;
    }
  
    .btn {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      background-color: #31e4e49d;
      color: white;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
    }
  
    .btn:hover {
      background-color: rgb(8, 239, 255);
    }
  }
  
  @media (max-width: 480px) {
    .outerContainer {
      padding: 10px;
    }
  
    .formContainer {
      width: 90%;
      padding: 15px;
      box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 12px;
    }
  
    .formContainer > input {
      width: 100%;
      padding: 12px;
      font-size: 14px;
    }
  
    .btn {
      width: 100%;
      padding: 12px;
      font-size: 14px;
      background-color: #31e4e49d;
      color: white;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
    }
  
    .btn:hover {
      background-color: rgb(8, 239, 255);
    }
  }
  